@{
    ViewBag.Title = "Контакты";
}
<style>
    h3 {
        color: #d04764;
        font-family: ‘Lobster’, cursive;
        font-size: 36px;
        font-weight: normal;
        line-height: 48px;
        margin: 0 0 18px;
        text-shadow: 1px 0 0 #fff;
    }

    h4 {
        color: #2CA4B0;
        font-family: ‘Oleo Script’, cursive;
        font-size: 24px;
        font-weight: normal;
        line-height: 32px;
        margin: 0 0 18px;
        text-shadow: 1px 0 0 #fff;
    }</style>

<h3> Library </h3>
<h4> Сайт сделал Изотов Илья</h4>
<h4> РИ-250004</h4>

<address>
    <strong>Support:</strong>   <a href="mailto:normall777@yandex.ru">normall777@yandex.ru</a><br />
    <strong>VK:</strong>   <a href="http://www.vk.com/normall777">vk.com/normall777</a><br />
</address>